vs/Naandi/v16/.suo
Shared/bin
Shared/obj
WebApp/bin
WebApp/obj
WebApp/WebApp.csproj.user
.vs/Naandi/DesignTimeBuild/.dtbcache
.vs/Naandi/v16/.suo
.vs/Naandi/v16/Server/sqlite3/db.lock
.vs/Naandi/v16/Server/sqlite3/storage.ide
.vs/
Json samples/registrationrequest.json
SQL/testing registration-request SP.sql
WebApi/obj
WebApi/bin
/WebApi/WebApi.csproj.user
omnisharp.json
/WebApi/logs
/Shared/Shared.csproj.user
/WebApp/logs
/WebApi/.config/dotnet-tools.json
/WebApi/Properties/PublishProfiles/FolderProfile.pubxml
/WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
/WebApp/.config/dotnet-tools.json
/WebApp/Properties/PublishProfiles/FolderProfile.pubxml
/WebApp/Properties/PublishProfiles/FolderProfile.pubxml.user
