@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 text-center mb-5">
            <img src="~/Images/home-naandi.png" class="img-fluid mb-4 mb-md-0" alt="home image" />
        </div>
        <div class="col-12 col-md-6 text-center text-md-left align-self-md-center">
            <h1 class="display-4 font-weight-bold text-primary">¿Quienes somos?</h1>
            <p>
                Casa hogar entregada al servicio de la niñez desprotegida proporcionando calor de hogar en un ambiente familiar y una formación basada en el amor.
            </p>
        </div>
    </div>
</div>