<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="Null" name="blackhole" />

		<target name="database" xsi:type="Database"
			dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
			connectionString="Server=127.0.0.1;Initial Catalog=naandi;User ID=root;Password=Flex.123;Pooling=False;"
			commandType="StoredProcedure"
			commandText="SaveLog">

			<parameter name="@application" layout="AspNetCoreNlog" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />

			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<!-- BlackHole without writeTo -->
		<logger name="Microsoft.*" maxlevel="Info" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>