@model WebApp.Areas.SocialWork.Models.FamilyResearchViewModel

<div class="row">
    <div class="col">
        <table id="EgresosMensualesTableId" class="table table-responsive-lg table-hover">
            <thead class="">
                <tr>
                    <th>Egreso</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.IngresosEgresosMensuales != null && Model.IngresosEgresosMensuales.IngresosEgresosMensualesMovimientoRelation != null)
                {
                    foreach (var item in Model.IngresosEgresosMensuales.IngresosEgresosMensualesMovimientoRelation)
                    {
                        if (item.Movimiento.TipoMovimiento.Name == "Egreso")
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Movimiento.Name)</td>
                                <td>@Html.DisplayFor(model => item.Monto)</td>
                                <td>
                                    @Html.ActionLink("Eliminar", "Action", "Controller", new { id = item.Id, area = "SocialWork" }, htmlAttributes: new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>