

<div class="container">
     <div class="row">
         <div class="col-12">
             <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Nombre</label>
                    <input type="text"  class="form-control" />
                </div>
             </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Edad</label>
                    <input type="text"  class="form-control" />
                </div>
             </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Edo. Civil</label>
                    <input type="text"  class="form-control" />
                </div>
             </div>

             <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Parentesco</label>
                    <input type="text"  class="form-control" />
                </div>
             </div>

             <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Escolaridad</label>
                    <input type="text"  class="form-control" />
                </div>
             </div>

             <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Ocupación</label>
                    <input type="text"  class="form-control" />
                </div>
             </div>

         </div>
     </div>
</div>