@model List<WebApp.Areas.SocialWork.Models.IngresosMensualesViewModel>

<div class="row">
    <div class="col">
        <table id="IngresosMensualesTableId" class="table table-responsive-lg table-hover">
            <thead class="">
                <tr>
                    <th style="display:none">key</th>
                    <th>Ingreso</th>
                    <th>Monto</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        if (item.Movimiento != null && 
                            item.Movimiento.TipoMovimiento != null && 
                            item.Movimiento.TipoMovimiento.Name == "Ingreso")
                        {
                            <tr>
                                <td style="display:none">@Html.DisplayFor(Model=> item.Key)</td>
                                <td>@Html.DisplayFor(model => item.Movimiento.Name)</td>
                                <td>@Html.DisplayFor(model => item.Monto)</td>
                                <td>
                                    <input type="button" value="Eliminar" class="btn btn-danger">
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>