@model WebApp.Areas.SocialWork.Models.FamilyResearchViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-uppercase text-center">investigaci&oacuten familiar</h3>
            <br />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-uppercase">Guardadas recientemente</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header d-flex justify-content-between bg-primary">
                    <div>
                        @Html.ActionLink("+ Nuevo", "ShowForm", "FamilyResearch", new { Area = "SocialWork" }, htmlAttributes: new { @class = "btn btn-success" })
                    </div>
                    <div class="col-md-6">
                        <input onkeydown="AddSearchBoxKeyDownEvent(event)" type="search" class="form-control" id="searchInput" placeholder="Busca por el nombre de la menor ...">
                    </div>
                    <div></div>
                </div>
                <div class="card-body pb-4">
                    <div id="RegistrationRequestTable">
                        @await Html.PartialAsync("_FamilyResearchTable", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        let SearchRegistrationRequestsByMinorName = function (searchItem) {

            if (searchItem === null || searchItem === '') {
                searchItem = "_all_";
            }

            let url = '@Url.Action("SearchRegistrationRequestsByMinorName", "RegistrationRequest", new { Area = "SocialWork", minorName = "replace1" }, null)';

            url = url.replace("replace1", searchItem);

            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                success: function (response) {
                    $('#RegistrationRequestTable').html(response);
                    $('#RegistrationRequestTableId').DataTable({ searching: false });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    }

    let AddSearchBoxKeyDownEvent = function (event) {

        let searchItem = "";
        if (event.which === 13) {
                searchItem = $('#searchInput').val();
                SearchRegistrationRequestsByMinorName(searchItem);
                event.preventDefault();
                return false;
        } else if (event.which === 8 || event.which === 46) {
             searchItem = $('#searchInput').val();
            if (searchItem === null || (searchItem.length - 1) === 0) {
                    searchItem = "_all_";
                    SearchRegistrationRequestsByMinorName(searchItem);
                    return false;
            }
        }
    }

    $('#modalwindow').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget); // Button that triggered the modal
        var registrationrequestid = button.data('registrationrequestid'); // Extract info from data-* attributes
        var minorfullname = button.data('minorfullname');
        var modal = $(this);
        modal.find('#btnyes').attr('data-registrationrequestid', registrationrequestid);
        modal.find('.modal-body p').html('¿Deseas borrar la solicitud de registro de ' + '<span class="font-weight-bold">' + minorfullname + '</span>' + '?');
    });

    $(function() {
        $("#btnyes").click( function(){
            var button = $(this);
            let id = button.attr('data-registrationrequestid');
            $.ajax({
                url: '@Url.Action("Delete", "RegistrationRequest", new { Area = "SocialWork" })',
                type: 'POST',
                dataType: 'json',
                cache: false,
                data: { Id: id },
                success: function ( data, textStatus, jQxhr ) {
                    location.reload(true);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

           }
        );
    });

    $(document).ready( function () {
        $('#RegistrationRequestTableId').DataTable({ searching: false });
    });

    </script>
}
