@model WebApp.Areas.SocialWork.Models.FamilyResearchViewModel

@{
    ViewData["Title"] = "Solicitud de ingreso";
}

@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <h4 class="text-danger">Errores:</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">                
                 <h2 class="text-center text-uppercase mt-4">
                    investigación familiar
                </h2>
                <div class="card-body">
                   <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Fecha de visita</label>
                            <input type="text" readonly asp-for="CreationDate" class="form-control" value="@Model.CreationDate.ToString("dd/MM/yyyy")" />
                        </div>
                        <div class="form-group col-md-3">
                            <label>Hora de visita</label>
                            <input type="text" readonly asp-for="CreationTime" class="form-control" value="@Model.CreationTime.ToString("HH:MM")" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Familia</label>
                            @if (Model.Family == null)
                            {
                                <input type="text" asp-for="Family" class="form-control" />
                            }
                            else
                            {
                                <input type="text" asp-for="Family" class="form-control" value="@Model.Family" />
                            }
                        </div>
                   </div>
                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
            </div>
        </div>
    </div>
</div>   
